<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title" routerLink="/dashboard">MediHelp</span>

  <span class="spacer"></span>

  <button mat-icon-button routerLink="/notifications" matTooltip="Notifications">
    <mat-icon
      [matBadge]="unreadCount > 0 ? unreadCount : null"
      matBadgeColor="warn"
      matBadgeSize="small">
      notifications
    </mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <div class="user-email-item" mat-menu-item disabled>
      {{ userEmail }}
    </div>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
